<a href="https://colab.research.google.com/github/mdsl22/Coursera_Capstone/blob/master/Lisbon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center>Clustering Lisbon neighbourhoods</center></h1>

# 1 Introduction

The aim of this project is to recommend which neighbourhood of Lisbon is the best location to open a new office, analysing location data – to explore and compare neighborhoods, using Foursquare API and K-means clustering algorithm.

# 2 Data acquisition and pre-processing
## 2.1 Required libraries

In [0]:
import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import folium # map rendering library
import json # library to handle JSON files
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
import matplotlib.cm as cm # Matplotlib and associated plotting modules
import matplotlib.colors as colors
from sklearn.cluster import KMeans # import k-means from clustering stage
import folium # map rendering library

## 2.2 Data scrapped from Wikipedia

In [2]:
import sys
!{sys.executable} -m pip install wikipedia

Collecting wikipedia
  Downloading https://files.pythonhosted.org/packages/67/35/25e68fbc99e672127cc6fbb14b8ec1ba3dfef035bf1e4c90f78f24a80b7d/wikipedia-1.4.0.tar.gz
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from wikipedia) (4.6.3)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from wikipedia) (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.3)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py) ... done
  Created wheel for wikipedia: filename=wikipedia-1.4.0-cp36-none-any.whl size=11686 sha256=22536768a7bd86579b6fdc7417e43014e980c29055986b90a46671531c51645f
  Stored in directory: /root/.cache/pip/wheels/87/2a/18/4e471fd96d12114d16fe4a446d00c3b38fb9efcb744bd31f4a
Successfully built wikipedia
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0

In [0]:
import wikipedia as wp
wp.set_lang("pt") 
html = wp.page("Lista_de_freguesias_de_Lisboa").html().encode("UTF-8")
df = pd.read_html(html)[0]
df.to_csv('lisboa_data.csv',header=1,index=False)

In [4]:
# transform the data into a pandas dataframe

df = pd.read_csv('lisboa_data.csv')
df.head(3)

  Freguesias atuais  ... Freguesias antigas.4
0      N.Âº[nota 1]  ...       Ãrea(kmÂ²)[5]
1                 1  ...                  286
2                 2  ...                  444

[3 rows x 10 columns]

In [0]:
# cleaning the dataframe: remove the useless columns and remove duplicates

df.drop(df.index[0], inplace=True)
df.drop_duplicates(subset = "Freguesias atuais", keep = 'first' , inplace = True)

In [0]:
# cleaning the dataframe: new column names

df.rename(columns={'Freguesias atuais': 'Number','Freguesias atuais.2': 'Neighbourhood'}, inplace=True)

In [7]:
# there are 24 neighbourhoods in Lisbon

df.reset_index(drop=True)
lisbon_df=df[['Number','Neighbourhood']]
lisbon_df.describe()

       Number            Neighbourhood
count      24                       24
unique     24                       24
top        58  Avenidas Novas (Centro)
freq        1                        1

In [8]:
lisbon_df['Number']=lisbon_df['Number'].astype(str).astype(int)
lisbon_df.dtypes

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Number            int64
Neighbourhood    object
dtype: object

### 3.3 Latitude and Longitude from a csv file

In [0]:
url = 'https://raw.githubusercontent.com/mdsl22/Coursera_Capstone/master/Geo_Lisbon.csv'

In [10]:
df_geo = pd.read_csv(url)
df_geo.head(3)

   Number   Latitude  Longitude Neighbourhood_name
0       1  38.707500  -9.198333              Ajuda
1       2  38.706389  -9.174167          Alcantara
2      54  38.746944  -9.136111           Alvalade

In [11]:
df_geo.dtypes

Number                  int64
Latitude              float64
Longitude             float64
Neighbourhood_name     object
dtype: object

In [12]:
# Create Latitude and Longitude columns in the dataframe lisbon
lisbon_df['Latitude'] = np.nan
lisbon_df['Longitude'] = np.nan

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
# For each Number in lisbon find the corresponding coordinates in df_geo and assign it to lisbon_df

for idx in lisbon_df.index:
    cord_idx = df_geo['Number'] == lisbon_df.loc[idx, 'Number']
    lisbon_df.at[idx, 'Latitude'] = df_geo.loc[cord_idx, 'Latitude'].values
    lisbon_df.at[idx, 'Longitude'] = df_geo.loc[cord_idx, 'Longitude'].values
 
lisbon_df.head(3)

   Number           Neighbourhood   Latitude  Longitude
1       1       Ajuda (Ocidental)  38.707500  -9.198333
2       2  AlcÃ¢ntara (Ocidental)  38.706389  -9.174167
3      54       Alvalade (Centro)  38.746944  -9.136111

In [14]:
# since the Wikipedia names are too long and with some errors we will use an alternative column for the neighbourhood names

df_lisbon=df_geo[['Number','Neighbourhood_name','Latitude','Longitude']]
df_lisbon

    Number       Neighbourhood_name   Latitude  Longitude
0        1                    Ajuda  38.707500  -9.198333
1        2                Alcantara  38.706389  -9.174167
2       54                 Alvalade  38.746944  -9.136111
3       55                  Areeiro  38.740278  -9.128056
4       56                  Arroios  38.728889  -9.138889
5       57           Avenidas Novas  38.738889  -9.145833
6        7                    Beato  38.734722  -9.105833
7       58                    Belem  38.700000  -9.200000
8        8                  Benfica  38.751111  -9.202222
9       59         Campo de Ourique  38.715278  -9.166944
10      10                Campolide  38.726389  -9.163333
11      11                  Carnide  38.760833  -9.183611
12      60                  Estrela  38.713333  -9.160000
13      18                   Lumiar  38.765278  -9.158611
14      21                  Marvila  38.745278  -9.104167
15      61             Misericordia  38.711389  -9.148056
16      33                  Olivais  38.773611  -9.117500
17      62        Parque das nacoes  38.768056  -9.093889
18      63          Penha de Franca  38.730000  -9.131667
19      64              Santa Clara  38.785278  -9.145000
20      65        Santa Maria Maior  38.712778  -9.135556
21      66            Santo Antonio  38.724167  -9.145000
22      39  Sao Domingos de Benfica  38.743611  -9.170000
23      67              Sao Vicente  38.719444  -9.126389

In [15]:
df_lisbon.dtypes

Number                  int64
Neighbourhood_name     object
Latitude              float64
Longitude             float64
dtype: object

# 3 Methodology
### 3.1 Exploratory data analysis

In [16]:
# Geographical coordinates of Lisbon

address = 'Lisbon'

geolocator = Nominatim(user_agent="coursera")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinates of Lisbon are {}, {}.'.format(latitude, longitude))

The geograpical coordinates of Lisbon are 38.7077507, -9.1365919.

In [17]:
# create map of Lisbon using latitude and longitude values
map_lisbon = folium.Map(location=[latitude, longitude], zoom_start=12)

# add markers to map
for latitude, longitude, borough, neighborhood in zip(df_lisbon['Latitude'], df_lisbon['Longitude'], df_lisbon['Number'], df_lisbon['Neighbourhood_name']):
    label = '{}, {}'.format(borough, neighborhood)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [latitude, longitude],
        radius=8,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_lisbon)  

map_lisbon

### 3.2 Foursquare

In [18]:
# Foursquare credentials and version

CLIENT_ID = 'S52NPP2NCWKLHPGXFJLLGLUJEROEI32DGTYBGUDOM0XKLYGB' # your Foursquare ID
CLIENT_SECRET = 'KVF0LGIYW1FNVD1WHD30WC1EGWMMX5ISCAACN2YJTTBVM2CJ' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: S52NPP2NCWKLHPGXFJLLGLUJEROEI32DGTYBGUDOM0XKLYGB
CLIENT_SECRET:KVF0LGIYW1FNVD1WHD30WC1EGWMMX5ISCAACN2YJTTBVM2CJ

In [19]:
df_lisbon.columns

Index(['Number', 'Neighbourhood_name', 'Latitude', 'Longitude'], dtype='object')

In [20]:
# Get the venues that are in Benfica (8) within a radius of 500 meters

df_lisbon.set_index('Number', inplace = True) 
neighborhood_latitude = df_lisbon.iloc[8]['Latitude']
neighborhood_longitude = df_lisbon.iloc[8]['Longitude']

LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius

# create URL
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url # display URL

'https://api.foursquare.com/v2/venues/explore?&client_id=S52NPP2NCWKLHPGXFJLLGLUJEROEI32DGTYBGUDOM0XKLYGB&client_secret=KVF0LGIYW1FNVD1WHD30WC1EGWMMX5ISCAACN2YJTTBVM2CJ&v=20180605&ll=38.751111,-9.202222&radius=500&limit=100'

In [0]:
# get request and examine the resutls

results = requests.get(url).json()

In [0]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [23]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                                   name  ...       lng
0                  A Padaria Portuguesa  ... -9.201863
1                          Teatro Turim  ... -9.202288
2  Mata de Benfica - Parque Silva Porto  ... -9.204727
3                             Com Calma  ... -9.199237
4                     A Travessa do Rio  ... -9.198650

[5 rows x 4 columns]

In [24]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

46 venues were returned by Foursquare.

### 3.3 Explore the neighbourhoods

In [0]:
# Function that repeat the same process to all the neighborhoods

def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [26]:
# run the above function on each neighbourhood and create a new dataframe called venues
venues = getNearbyVenues(names=df_lisbon['Neighbourhood_name'],latitudes=df_lisbon['Latitude'],longitudes=df_lisbon['Longitude'])

Ajuda
Alcantara
Alvalade
Areeiro
Arroios
Avenidas Novas
Beato
Belem
Benfica
Campo de Ourique
Campolide
Carnide
Estrela
Lumiar
Marvila
Misericordia
Olivais
Parque das nacoes
Penha de Franca
Santa Clara
Santa Maria Maior
Santo Antonio
Sao Domingos de Benfica
Sao Vicente

In [27]:
print(venues.shape)
venues.head()

(1014, 7)

  Neighborhood  Neighborhood Latitude  ...  Venue Longitude    Venue Category
0        Ajuda                38.7075  ...        -9.197758     Historic Site
1        Ajuda                38.7075  ...        -9.199349        Restaurant
2        Ajuda                38.7075  ...        -9.194202        Restaurant
3        Ajuda                38.7075  ...        -9.201222  Botanical Garden
4        Ajuda                38.7075  ...        -9.199402         BBQ Joint

[5 rows x 7 columns]

In [28]:
venues.groupby('Neighborhood').count()

                         Neighborhood Latitude  ...  Venue Category
Neighborhood                                    ...
Ajuda                                        6  ...               6
Alcantara                                   23  ...              23
Alvalade                                    42  ...              42
Areeiro                                     27  ...              27
Arroios                                     34  ...              34
Avenidas Novas                              86  ...              86
Beato                                        8  ...               8
Belem                                       48  ...              48
Benfica                                     46  ...              46
Campo de Ourique                            39  ...              39
Campolide                                   40  ...              40
Carnide                                     23  ...              23
Estrela                                     30  ...              30
Lumiar                                      34  ...              34
Marvila                                     17  ...              17
Misericordia                               100  ...             100
Olivais                                      8  ...               8
Parque das nacoes                           99  ...              99
Penha de Franca                             55  ...              55
Santa Clara                                  4  ...               4
Santa Maria Maior                          100  ...             100
Santo Antonio                              100  ...             100
Sao Domingos de Benfica                     21  ...              21
Sao Vicente                                 24  ...              24

[24 rows x 6 columns]

In [29]:
print('There are {} unique categories.'.format(len(venues['Venue Category'].unique())))

There are 166 unique categories.

In [30]:
# one hot encoding
onehot = pd.get_dummies(venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
onehot['Neighborhood'] = venues['Neighborhood'] 

onehot.head()

   Accessories Store  African Restaurant  ...  Women's Store  Zoo
0                  0                   0  ...              0    0
1                  0                   0  ...              0    0
2                  0                   0  ...              0    0
3                  0                   0  ...              0    0
4                  0                   0  ...              0    0

[5 rows x 166 columns]

In [31]:
onehot.shape

(1014, 166)

In [32]:
grouped = onehot.groupby('Neighborhood').mean().reset_index()
grouped

               Neighborhood  Accessories Store  ...  Women's Store       Zoo
0                     Ajuda               0.00  ...           0.00  0.000000
1                 Alcantara               0.00  ...           0.00  0.000000
2                  Alvalade               0.00  ...           0.00  0.000000
3                   Areeiro               0.00  ...           0.00  0.000000
4                   Arroios               0.00  ...           0.00  0.000000
5            Avenidas Novas               0.00  ...           0.00  0.000000
6                     Beato               0.00  ...           0.00  0.000000
7                     Belem               0.00  ...           0.00  0.000000
8                   Benfica               0.00  ...           0.00  0.000000
9          Campo de Ourique               0.00  ...           0.00  0.000000
10                Campolide               0.00  ...           0.00  0.000000
11                  Carnide               0.00  ...           0.00  0.000000
12                  Estrela               0.00  ...           0.00  0.000000
13                   Lumiar               0.00  ...           0.00  0.000000
14                  Marvila               0.00  ...           0.00  0.000000
15             Misericordia               0.00  ...           0.00  0.000000
16                  Olivais               0.00  ...           0.00  0.000000
17        Parque das nacoes               0.00  ...           0.00  0.000000
18          Penha de Franca               0.00  ...           0.00  0.000000
19              Santa Clara               0.00  ...           0.00  0.000000
20        Santa Maria Maior               0.01  ...           0.00  0.000000
21            Santo Antonio               0.01  ...           0.01  0.000000
22  Sao Domingos de Benfica               0.00  ...           0.00  0.047619
23              Sao Vicente               0.00  ...           0.00  0.000000

[24 rows x 166 columns]

In [33]:
grouped.shape

(24, 166)

In [34]:
num_top_venues = 5

for hood in grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = grouped[grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Ajuda----
               venue  freq
0         Restaurant  0.50
1      Historic Site  0.17
2          BBQ Joint  0.17
3   Botanical Garden  0.17
4  Accessories Store  0.00


----Alcantara----
                         venue  freq
0        Portuguese Restaurant  0.22
1     Mediterranean Restaurant  0.09
2  Eastern European Restaurant  0.04
3                  Pizza Place  0.04
4                    Nightclub  0.04


----Alvalade----
                   venue  freq
0  Portuguese Restaurant  0.12
1                   Café  0.10
2              Bookstore  0.07
3              BBQ Joint  0.07
4                  Hotel  0.05


----Areeiro----
                   venue  freq
0  Portuguese Restaurant  0.15
1                  Hotel  0.15
2      Electronics Store  0.11
3           Tennis Court  0.04
4            Pizza Place  0.04


----Arroios----
                           venue  freq
0          Portuguese Restaurant  0.12
1                          Hotel  0.12
2              Indian Restaurant  0.09
3  Vegetarian / Vegan Restaurant  0.06
4                         Bakery  0.06


----Avenidas Novas----
                   venue  freq
0  Portuguese Restaurant  0.08
1                  Hotel  0.07
2             Restaurant  0.07
3     Italian Restaurant  0.06
4                   Café  0.05


----Beato----
                  venue  freq
0            Restaurant  0.50
1               Brewery  0.12
2         Historic Site  0.12
3  Cantonese Restaurant  0.12
4      Tapas Restaurant  0.12


----Belem----
                   venue  freq
0  Portuguese Restaurant  0.23
1                 Garden  0.08
2                 Bakery  0.08
3                   Café  0.04
4         History Museum  0.04


----Benfica----
                   venue  freq
0  Portuguese Restaurant  0.15
1                   Café  0.15
2     Seafood Restaurant  0.11
3            Coffee Shop  0.04
4          Shopping Mall  0.04


----Campo de Ourique----
                   venue  freq
0  Portuguese Restaurant  0.13
1                    Bar  0.08
2            Coffee Shop  0.08
3                 Bakery  0.08
4                   Café  0.05


----Campolide----
                   venue  freq
0             Restaurant  0.10
1                 Bakery  0.08
2  Portuguese Restaurant  0.08
3                  Hotel  0.08
4      Electronics Store  0.05


----Carnide----
                   venue  freq
0  Portuguese Restaurant  0.17
1             Restaurant  0.13
2                   Café  0.09
3       Sushi Restaurant  0.09
4                 Bakery  0.09


----Estrela----
                   venue  freq
0  Portuguese Restaurant  0.20
1                   Café  0.10
2          Grocery Store  0.07
3             Steakhouse  0.07
4                 Hostel  0.03


----Lumiar----
                venue  freq
0          Restaurant  0.09
1         Pizza Place  0.09
2                Café  0.09
3      Soccer Stadium  0.06
4  Chinese Restaurant  0.06


----Marvila----
                    venue  freq
0              Restaurant  0.29
1   Portuguese Restaurant  0.18
2             Art Gallery  0.12
3               Nightclub  0.06
4  Argentinian Restaurant  0.06


----Misericordia----
                   venue  freq
0  Portuguese Restaurant  0.14
1                    Bar  0.08
2               Wine Bar  0.07
3                   Café  0.07
4                 Hostel  0.04


----Olivais----
                venue  freq
0          Restaurant  0.25
1                Café  0.25
2              Hostel  0.12
3  Chinese Restaurant  0.12
4       Jewelry Store  0.12


----Parque das nacoes----
                   venue  freq
0  Portuguese Restaurant  0.08
1     Chinese Restaurant  0.05
2       Sushi Restaurant  0.05
3             Restaurant  0.05
4      Electronics Store  0.04


----Penha de Franca----
                   venue  freq
0  Portuguese Restaurant  0.15
1                   Café  0.13
2                  Hotel  0.11
3            Supermarket  0.07
4                 Hostel  0.05


----Santa Clara----
                   venue  freq
0                Brewery  0.25
1            Auto Garage  0.25
2            Gas Station  0.25
3  Portuguese Restaurant  0.25
4     Italian Restaurant  0.00


----Santa Maria Maior----
                   venue  freq
0  Portuguese Restaurant  0.14
1                  Hotel  0.10
2                   Café  0.06
3               Wine Bar  0.05
4         Ice Cream Shop  0.05


----Santo Antonio----
                   venue  freq
0                  Hotel  0.20
1  Portuguese Restaurant  0.14
2                   Café  0.06
3                 Hostel  0.05
4             Restaurant  0.05


----Sao Domingos de Benfica----
        venue  freq
0  Theme Park  0.10
1  Food Truck  0.10
2   BBQ Joint  0.10
3         Zoo  0.05
4     Exhibit  0.05


----Sao Vicente----
                      venue  freq
0                    Bakery  0.12
1     Portuguese Restaurant  0.08
2                      Café  0.08
3  Mediterranean Restaurant  0.08
4                  Creperie  0.04

In [0]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [36]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = grouped['Neighborhood']

for ind in np.arange(grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted

               Neighborhood  ...  10th Most Common Venue
0                     Ajuda  ...    Fast Food Restaurant
1                 Alcantara  ...              Restaurant
2                  Alvalade  ...              Restaurant
3                   Areeiro  ...                 Stadium
4                   Arroios  ...    Gym / Fitness Center
5            Avenidas Novas  ...                 Brewery
6                     Beato  ...    Fast Food Restaurant
7                     Belem  ...      Chinese Restaurant
8                   Benfica  ...                 Theater
9          Campo de Ourique  ...          Sandwich Place
10                Campolide  ...    Brazilian Restaurant
11                  Carnide  ...      Dim Sum Restaurant
12                  Estrela  ...      Miscellaneous Shop
13                   Lumiar  ...    Fast Food Restaurant
14                  Marvila  ...  Argentinian Restaurant
15             Misericordia  ...                   Hotel
16                  Olivais  ...      Dim Sum Restaurant
17        Parque das nacoes  ...      Seafood Restaurant
18          Penha de Franca  ...       Indian Restaurant
19              Santa Clara  ...       Fish & Chips Shop
20        Santa Maria Maior  ...                  Hostel
21            Santo Antonio  ...      Russian Restaurant
22  Sao Domingos de Benfica  ...               Cable Car
23              Sao Vicente  ...          Sandwich Place

[24 rows x 11 columns]

## 4 Cluster neighbourhoods

In [37]:
# set number of clusters
kclusters = 5

grouped_clustering = grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([2, 0, 0, 0, 0, 0, 2, 0, 0, 0], dtype=int32)

In [38]:
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

merged = df_lisbon

# merge neighborhoods_venues_sorted with df_lisbon to add latitude/longitude for each neighborhood
merged = merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighbourhood_name')

merged.head() # check the last columns!

       Neighbourhood_name  ...  10th Most Common Venue
Number                     ...
1                   Ajuda  ...    Fast Food Restaurant
2               Alcantara  ...              Restaurant
54               Alvalade  ...              Restaurant
55                Areeiro  ...                 Stadium
56                Arroios  ...    Gym / Fitness Center

[5 rows x 14 columns]

In [39]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(merged['Latitude'], merged['Longitude'], merged['Neighbourhood_name'], merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

## 5 Examine Clusters

In [40]:
# Cluster 1

merged.loc[merged['Cluster Labels'] == 0, merged.columns[[0] + list(range(4, merged.shape[1]))]]

             Neighbourhood_name  ... 10th Most Common Venue
Number                           ...
2                     Alcantara  ...             Restaurant
54                     Alvalade  ...             Restaurant
55                      Areeiro  ...                Stadium
56                      Arroios  ...   Gym / Fitness Center
57               Avenidas Novas  ...                Brewery
58                        Belem  ...     Chinese Restaurant
8                       Benfica  ...                Theater
59             Campo de Ourique  ...         Sandwich Place
10                    Campolide  ...   Brazilian Restaurant
11                      Carnide  ...     Dim Sum Restaurant
60                      Estrela  ...     Miscellaneous Shop
18                       Lumiar  ...   Fast Food Restaurant
61                 Misericordia  ...                  Hotel
62            Parque das nacoes  ...     Seafood Restaurant
63              Penha de Franca  ...      Indian Restaurant
65            Santa Maria Maior  ...                 Hostel
66                Santo Antonio  ...     Russian Restaurant
39      Sao Domingos de Benfica  ...              Cable Car
67                  Sao Vicente  ...         Sandwich Place

[19 rows x 11 columns]

In [41]:
# Cluster 2

merged.loc[merged['Cluster Labels'] == 1, merged.columns[[0] + list(range(4, merged.shape[1]))]]

       Neighbourhood_name  ... 10th Most Common Venue
Number                     ...
33                Olivais  ...     Dim Sum Restaurant

[1 rows x 11 columns]

In [42]:
# Cluster 3

merged.loc[merged['Cluster Labels'] == 2, merged.columns[[0] + list(range(4, merged.shape[1]))]]

       Neighbourhood_name  ... 10th Most Common Venue
Number                     ...
1                   Ajuda  ...   Fast Food Restaurant
7                   Beato  ...   Fast Food Restaurant

[2 rows x 11 columns]

In [43]:
# Cluster 4

merged.loc[merged['Cluster Labels'] == 3, merged.columns[[0] + list(range(4, merged.shape[1]))]]

       Neighbourhood_name  ...  10th Most Common Venue
Number                     ...
21                Marvila  ...  Argentinian Restaurant

[1 rows x 11 columns]

In [44]:
# Cluster 5

merged.loc[merged['Cluster Labels'] == 4, merged.columns[[0] + list(range(4, merged.shape[1]))]]

       Neighbourhood_name  ... 10th Most Common Venue
Number                     ...
64            Santa Clara  ...      Fish & Chips Shop

[1 rows x 11 columns]