<a href="https://colab.research.google.com/github/mdsl22/Coursera_Capstone/blob/master/Week_3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1 Introduction

This notebook will be used for the week 3 assignment of the Applied Data Science Capstone.

### 1.1 Download the required libraries

In [1]:
import numpy as np 
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print('Libraries imported.')

Libraries imported.

## 2 Download and explore the dataset

### 2.1 Install Wikipedia module for Python

In [2]:
import sys
!{sys.executable} -m pip install wikipedia

Collecting wikipedia
  Downloading https://files.pythonhosted.org/packages/67/35/25e68fbc99e672127cc6fbb14b8ec1ba3dfef035bf1e4c90f78f24a80b7d/wikipedia-1.4.0.tar.gz
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from wikipedia) (4.6.3)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from wikipedia) (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.3)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py) ... done
  Created wheel for wikipedia: filename=wikipedia-1.4.0-cp36-none-any.whl size=11686 sha256=b4d63b9e4c8ef9facf8e292252eee33923825ea69764bf352cd54f4467145ad3
  Stored in directory: /root/.cache/pip/wheels/87/2a/18/4e471fd96d12114d16fe4a446d00c3b38fb9efcb744bd31f4a
Successfully built wikipedia
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0

### 2.2 Scrape data from Wikipedia into a csv file

In [0]:
import wikipedia as wp
 
html = wp.page("List of postal codes of Canada: M").html().encode("UTF-8")
df = pd.read_html(html)[0]
df.to_csv('toronto_data.csv',header=1,index=False)

### 2.3 Transform the data into a pandas dataframe

In [4]:
# The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

df = pd.read_csv('toronto_data.csv')
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A      Queen's Park      Not assigned
8      M8A      Not assigned      Not assigned
9      M9A      Queen's Park      Queen's Park

In [5]:
#  Ignore cells with a borough that is Not assigned

df['Borough'].replace('Not assigned', np.nan, inplace=True)
df.dropna(subset=['Borough'], inplace=True)

df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Not assigned
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [0]:
# If Neighborhood = Not assigned then Neighborhood = Borough

In [7]:
df['Neighbourhood'] = np.where(df['Neighbourhood']=='Not assigned', df['Borough'], df['Neighbourhood'])

df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Queen's Park
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [13]:
# Combine the rows of one postal code area

df_toronto = df.groupby('Postcode').agg(
    {
        'Borough':'first', 
        'Neighbourhood': ', '.join,}
    ).reset_index()

df_toronto.head(12)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough                  Guildwood, Morningside, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough                                  Maryvale, Wexford

In [11]:
df_toronto.shape

(103, 3)

## 3 Latitude and the longitude coordinates of each neighborhood

In [14]:
# Obtain coordinates from the given csv file

!wget -O GeoCord.csv http://cocl.us/Geospatial_data/

--2019-11-17 15:56:34--  http://cocl.us/Geospatial_data/
Resolving cocl.us (cocl.us)... 161.202.50.39
Connecting to cocl.us (cocl.us)|161.202.50.39|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://cocl.us/Geospatial_data/ [following]
--2019-11-17 15:56:34--  https://cocl.us/Geospatial_data/
Connecting to cocl.us (cocl.us)|161.202.50.39|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-11-17 15:56:36--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 103.116.4.197
Connecting to ibm.box.com (ibm.box.com)|103.116.4.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-11-17 15:56:37--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-11-17 15:56:37--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 103.116.4.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|103.116.4.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!HZymyaOfsYsXnkixAZHUpJaiJnJBLFw_pm3F4odAipvjuz1SIaLlznRkooQeW7vYIoIJhzXPeKDcmDNT3e_p9UlWNsoWD_AfkQxZragOkAotJ1v3YPTJtKHe0jkRvLREqG6s2FCcFbYAxH-BwWKHuctQdzTO_qOGzAubWmdVsJ72W9BNuTgc9XM5JrISJct0TRQwWJm8TFZwc2jUccAVIlJ1Vqwq3f-D8tohvdOj0zQr2w5TPgvsbHKVJHPvQWnW0pzKZY6M_nQ9rS-7FsMV-x1U4FnfuRfbLKXjIQ2LnXM1yKSW2ZTpm8vu6YJrJW4YdLi0BXznkBpg6wAl80O8u8-53al3Xk53lyilPbNoXBmsU5Ym3jiaLIo0q1WlhVJEMr81k6kKvPZGiY9QZcuDtuPYT-PDolMh_M37-ifk6Sfl1mOTg7dKJd9oGUp1pt9zXQlizkQb8Gnm46B2eW8OBszegu0qJBWidKNnmHURBrHcaKo-qtRpANInngU4r4tPwIuMluS5lJ-jciXCGy-RzpIjQqH-UROCig008jeOqAXKjFH6ngWB70Sx1racXOG_FTbQOtTSw3ycOPR07iTY9__X3BYkPH0GJAjPeGxqbqvDNHsjwMCDs3yIEoBkE96U1R5fiOo6S5zX1Aq752qV47EC4CC3_9mxW0qCKBXAeQHpKd5Lsy86lD6f-C9G_2OlG1ABeZeXzSSSmRWhQM-kCv0mPjP-imGJe7ceZBv6cYdQxAkv1VaQzoBiGNeq1hSYmZrmLUdBQKGHCEE3boN1FcV60LCzdWVWK5-SgfEZM8qMx2SPbWoBV79cwaT6tZ7gue2hH-mO18ok_fGTjyemuLhuK0K4H4UKk5JFQLE9r5AvqfGQ27KxiSSZYvSuWM3eSiKXRhi-KjUqHnvED9ucH4Av2gbRsXT9w0j7Wxb-R6kOsaYSkyfExhtJST0JQg0RD2rdacv_l5nqZ4Jhphqx5Rr45-yEP1vg8G1uXVN3LPmiNduCFhjmcDVW5wduMOrGMmFz1UjA_-jnW41ox_8NHNx8FTRRKlWb8YNHmltQwwxytFDvgJvP1EOnmPYFEyOdg6ns2NrmlRYxAiHnniiain_sHAZG5yPNUegm0EnhlTirC9NPqdltN1D3f-haWBJaEL2staCSBGHktDdZFFrVeH9Tnt3jONjb5ZR1y9UNZ4lG0nw3SAbFnMGOubZw-puXlmjrtT3N1tjjfCTLPdtRMXxZXAn1QCA3OXyNduu1iftQwfEOe95azHWPE12dUK2CMW8wdAdEwC2-QtpXOBhbsPVo6zjAMzxefpqrOt1JLzDHx7VTGnfwH86zkz80K_1tH54mBuC9XuSg0ed8Iy5B7Ck0G2aUSIzBg5hLn-Rdz6lt2vn3cb87LMKsBHQ./download [following]
--2019-11-17 15:56:38--  https://public.boxcloud.com/d/1/b1!HZymyaOfsYsXnkixAZHUpJaiJnJBLFw_pm3F4odAipvjuz1SIaLlznRkooQeW7vYIoIJhzXPeKDcmDNT3e_p9UlWNsoWD_AfkQxZragOkAotJ1v3YPTJtKHe0jkRvLREqG6s2FCcFbYAxH-BwWKHuctQdzTO_qOGzAubWmdVsJ72W9BNuTgc9XM5JrISJct0TRQwWJm8TFZwc2jUccAVIlJ1Vqwq3f-D8tohvdOj0zQr2w5TPgvsbHKVJHPvQWnW0pzKZY6M_nQ9rS-7FsMV-x1U4FnfuRfbLKXjIQ2LnXM1yKSW2ZTpm8vu6YJrJW4YdLi0BXznkBpg6wAl80O8u8-53al3Xk53lyilPbNoXBmsU5Ym3jiaLIo0q1WlhVJEMr81k6kKvPZGiY9QZcuDtuPYT-PDolMh_M37-ifk6Sfl1mOTg7dKJd9oGUp1pt9zXQlizkQb8Gnm46B2eW8OBszegu0qJBWidKNnmHURBrHcaKo-qtRpANInngU4r4tPwIuMluS5lJ-jciXCGy-RzpIjQqH-UROCig008jeOqAXKjFH6ngWB70Sx1racXOG_FTbQOtTSw3ycOPR07iTY9__X3BYkPH0GJAjPeGxqbqvDNHsjwMCDs3yIEoBkE96U1R5fiOo6S5zX1Aq752qV47EC4CC3_9mxW0qCKBXAeQHpKd5Lsy86lD6f-C9G_2OlG1ABeZeXzSSSmRWhQM-kCv0mPjP-imGJe7ceZBv6cYdQxAkv1VaQzoBiGNeq1hSYmZrmLUdBQKGHCEE3boN1FcV60LCzdWVWK5-SgfEZM8qMx2SPbWoBV79cwaT6tZ7gue2hH-mO18ok_fGTjyemuLhuK0K4H4UKk5JFQLE9r5AvqfGQ27KxiSSZYvSuWM3eSiKXRhi-KjUqHnvED9ucH4Av2gbRsXT9w0j7Wxb-R6kOsaYSkyfExhtJST0JQg0RD2rdacv_l5nqZ4Jhphqx5Rr45-yEP1vg8G1uXVN3LPmiNduCFhjmcDVW5wduMOrGMmFz1UjA_-jnW41ox_8NHNx8FTRRKlWb8YNHmltQwwxytFDvgJvP1EOnmPYFEyOdg6ns2NrmlRYxAiHnniiain_sHAZG5yPNUegm0EnhlTirC9NPqdltN1D3f-haWBJaEL2staCSBGHktDdZFFrVeH9Tnt3jONjb5ZR1y9UNZ4lG0nw3SAbFnMGOubZw-puXlmjrtT3N1tjjfCTLPdtRMXxZXAn1QCA3OXyNduu1iftQwfEOe95azHWPE12dUK2CMW8wdAdEwC2-QtpXOBhbsPVo6zjAMzxefpqrOt1JLzDHx7VTGnfwH86zkz80K_1tH54mBuC9XuSg0ed8Iy5B7Ck0G2aUSIzBg5hLn-Rdz6lt2vn3cb87LMKsBHQ./download
Resolving public.boxcloud.com (public.boxcloud.com)... 103.116.4.200
Connecting to public.boxcloud.com (public.boxcloud.com)|103.116.4.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘GeoCord.csv’

GeoCord.csv         100%[===================>]   2.82K  --.-KB/s    in 0s

2019-11-17 15:56:39 (466 MB/s) - ‘GeoCord.csv’ saved [2891/2891]

In [15]:
# Read the csv data

df_cord = pd.read_csv('GeoCord.csv') 
df_cord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [0]:
# Create Latitude and Longitude columns in the dataframe df_toronto
df_toronto['Latitude'] = np.nan
df_toronto['Longitude'] = np.nan

In [17]:
# For each postcode in df_toronto find the corresponding coordinates in df_cord and assign it to df_toronto
for idx in df_toronto.index:
    cord_idx = df_cord['Postal Code'] == df_toronto.loc[idx, 'Postcode']
    df_toronto.at[idx, 'Latitude'] = df_cord.loc[cord_idx, 'Latitude'].values
    df_toronto.at[idx, 'Longitude'] = df_cord.loc[cord_idx, 'Longitude'].values

df_toronto.head(12)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849